<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Иран</title>
    <link rel="icon" href="https://mobimg.b-cdn.net/v3/fetch/2c/2cffdefb2e7f9d7da4e24184dc2cf0de.jpeg">
</head>
<header class="header">
    <form action="/turkey">
        <input class="button"  type="submit" value="Тюркский каганат">
    </form>
    <form action="/">
        <input class="button"  type="submit" value="Корея">
    </form>
    <form action="/kavkaz">
        <input class="button"  type="submit" value="Закавказье">
    </form>
</header>
<body class="body">
    <ul>
        <li>Виспухры – семь древнейших родов Ирана с наследственными правами</li>
        <li>Вазурги (визурги) – сословная группа, из которой формировались высшие чины военного и административного управления</li>
        <li>Гезит – налог (подушная подать с мужчин)</li>
        <li>Дехкане – общинная верхушка</li>
        <li>Кархане – государственные мастерские с использованием рабского труда</li>
        <li>Куст – одна из четырех частей государства</li>
        <li>Марзпанство – часть куста в пограничных районах</li>
        <li>Мобедан мобед – верховный жрец</li>
        <li>Останы – части куста в центральных районах государства</li>
        <li>Пешак – сословия</li>
        <li>Пирей – жертвенник</li>
        <li>Рам – простонародье</li>
        <li>Тасуджи – мелкие административные единицы, входившие в марзпанства или останы</li>
        <li>Хараг – налог (поземельная подать)</li>
        <li>Шахр – область</li>
        <li>Шахрдары – самостоятельные правители областей</li>
        <li>Шахристан – город, центр страны, области</li>
    </ul>
</body>
</html>