<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Тюркский каганат</title>
    <link rel="icon" href="https://www.sonar2050.org/storage/files/%D0%9E%D0%B7%D0%B8%D0%BC%D0%BA%D0%BE/%D0%A2%D1%8E%D1%80%D0%BA%D0%B8/Flag_of_the_Turkic_Council.png">
</head>
<header class="header">
    <form action="/iran">
        <input class="button"  type="submit" value="Иран">
    </form>
    <form action="/">
        <input class="button"  type="submit" value="Корея">
    </form>
    <form action="/kavkaz">
        <input class="button"  type="submit" value="Закавказье">
    </form>
</header>
<body class="body">
    <ul>
        <li>Ашина – племя</li>
        <li>Беги – высшее сословие тюркской общины, аристократия по крови</li>
        <li>Кулы – невольники</li>
        <li>Тёрю – общие правовые нормы жителей каганата</li>
        <li>Тутук – каганский управитель, глава округа</li>
        <li>Тудун – уполномоченные кагана, которым вменялся в обязанность контроль за сбором податей и доставкой дани в каганскую ставку</li>
        <li>Тюрк эль – тюркский племенной союз</li>
        <li>Тюрк эль – тюркский племенной союз</li>
        <li>Каган – глава племени</li>
        <li>Эль – политическая структура</li>
        <li>Эльтебер – глава племенного объединения</li>
        <li>Эр – «муж-воин», полноправный член рода и племени</li>
        <li>Ябгу-каган – титул правителя западной ветви тюркской династии Ашина</li>
    </ul>
</body>
</html>